body {
    font-family: "Roboto Mono", monospace;
}
div {
    margin:-10px 0px 0px 0px;

}
.home {
    margin: -10px 0px;
}

.electrónica {
    margin: -10px 0px;
}

.acessorios{
    margin: -10px 0px;
}


.hombre {
    margin: -10px 0px; 
}

.mujer{
    margin: -10px 0px;
}

.carrito {
    position: absolute;
    top: -10px; 
    right: 10px; 
}

.login {
    position: absolute;
    top: -10px; 
    right: 223px; 
}

.registro {
    position: absolute;
    top: -10px; 
    right: 100px; 
}






/*Mujer*/





.mujer1 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid red;
    margin-top: 20vh;
    margin-left: 0vh;
  
    
}
.hoodie1{
    margin-top: 68vh;
    text-align: center;
}

.mujer2 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blue;
    margin-top: 20vh;
    margin-left: 41.5vh;
    
    
}

.remera{
    margin-top: 68vh;
    text-align: center;
}

.mujer3 {
  position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid black;
    margin-top: 20vh;
    margin-left: 83vh;
    
    
}

.pantalon{
    margin-top: 68vh;
    text-align: center;
}

.mujer4 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blueviolet;
    margin-top: 20vh;
    margin-left: 121vh;

}
.remera2{
    margin-top: 68vh;
    text-align: center;
}

.mujer5 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid yellowgreen;
    margin-top: 20vh;
    margin-left: 159vh;
   
    
    
}
.buzo{
    margin-top: 68vh;
    text-align: center;
}

.categoria1{
    margin: 130px 0px;
    font-family: "Oswald", sans-serif;
    text-align: center;
}








/*HOMBRE*/









.hombre1 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid red;
    margin-top: 140vh;
    margin-left: 0vh;
  
    
}
.remera2{
    margin-top: 68vh;
    text-align: center;
   
}

.hombre2 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blue;
    margin-top: 140vh;
    margin-left: 41.5vh;
    
    
}

.hoodie2{
    margin-top: 68vh;
    text-align: center;
}

.hombre3 {
  position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid black;
    margin-top: 140vh;
    margin-left: 83vh;
    
    
}

.hoodie3{
    margin-top: 68vh;
    text-align: center;
   
}

.hombre4 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blueviolet;
    margin-top: 140vh;
    margin-left: 121vh;

}
.remera3{
    margin-top: 68vh;
    text-align: center;
   
}

.hombre5 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid yellowgreen;
    margin-top: 140vh;
    margin-left: 159vh; 
}


.pantalon2{
    margin-top: 68vh;
    text-align: center;
}

.categoria2{
    margin-top: 150vh;
    font-family: "Oswald", sans-serif;
}






/*ELECTRONICO*/







.elec1 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid red;
    margin-top: 130vh;
    margin-left: 0vh;
  
    
}
.appletv{
    margin-top: 68vh;
    text-align: center;
   
}

.elec2 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blue;
    margin-top: 130vh;
    margin-left: 41.5vh;
    
    
}

.quadcast{
    margin-top: 68vh;
    text-align: center;
}

.elec3 {
  position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid black;
    margin-top: 130vh;
    margin-left: 83vh;
    
    
}

.beats{
    margin-top: 68vh;
    text-align: center;
}

.elec4 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blueviolet;
    margin-top: 130vh;
    margin-left: 121vh;

}
.dualsense{
    margin-top: 68vh;
    text-align: center;
}

.elec5 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid yellowgreen;
    margin-top: 130vh;
    margin-left: 159vh;
   
    
    
}
.magsafe{
    margin-top: 68vh;
    text-align: center;
}

.categoria3{
    margin-top: 125vh;
    font-family: "Oswald", sans-serif;
}

.hoodiemujer img{
    width: 35%;
    

}

.hoodiemujer {
    margin-left: 20vh;
}

