body {
    font-family: "Roboto Mono", monospace;
}
/*Mujer*/

.mujer1 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid red;
    margin-top: 20vh;
    margin-left: 0vh;
  
    
}
.hoodie1{
    margin-top: 68vh;
    text-align: center;
}

.mujer2 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blue;
    margin-top: 20vh;
    margin-left: 41.5vh;
    
    
}

.remera{
    margin-top: 68vh;
    text-align: center;
}

.mujer3 {
  position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid black;
    margin-top: 20vh;
    margin-left: 83vh;
    
    
}

.pantalon{
    margin-top: 68vh;
    text-align: center;
}

.mujer4 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blueviolet;
    margin-top: 20vh;
    margin-left: 121vh;

}
.remera2{
    margin-top: 68vh;
    text-align: center;
}

.mujer5 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid yellowgreen;
    margin-top: 20vh;
    margin-left: 159vh;
   
    
    
}
.buzo{
    margin-top: 68vh;
    text-align: center;
}

.categoria1{
    margin: 130px 0px;
    font-family: "Oswald", sans-serif;
    text-align: center;
}








/*HOMBRE*/









.hombre1 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid red;
    margin-top: 140vh;
    margin-left: 0vh;
  
    
}
.remera2{
    margin-top: 68vh;
    text-align: center;
   
}

.hombre2 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blue;
    margin-top: 140vh;
    margin-left: 41.5vh;
    
    
}

.hoodie2{
    margin-top: 68vh;
    text-align: center;
}

.hombre3 {
  position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid black;
    margin-top: 140vh;
    margin-left: 83vh;
    
    
}

.hoodie3{
    margin-top: 68vh;
    text-align: center;
   
}

.hombre4 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blueviolet;
    margin-top: 140vh;
    margin-left: 121vh;

}
.remera3{
    margin-top: 68vh;
    text-align: center;
   
}

.hombre5 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid yellowgreen;
    margin-top: 140vh;
    margin-left: 159vh; 
}


.pantalon2{
    margin-top: 68vh;
    text-align: center;
}

.categoria2{
    margin-top: 140vh;
    font-family: "Oswald", sans-serif;
    text-align: center;
}






/*ELECTRONICO*/







.elec1 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid red;
    margin-top: 130vh;
    margin-left: 0vh;
  
    
}
.appletv{
    margin-top: 68vh;
    text-align: center;
   
}

.elec2 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blue;
    margin-top: 130vh;
    margin-left: 41.5vh;
    
    
}

.quadcast{
    margin-top: 68vh;
    text-align: center;
}

.elec3 {
  position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid black;
    margin-top: 130vh;
    margin-left: 83vh;
    
    
}

.beats{
    margin-top: 68vh;
    text-align: center;
}

.elec4 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid blueviolet;
    margin-top: 130vh;
    margin-left: 121vh;

}
.dualsense{
    margin-top: 68vh;
    text-align: center;
}

.elec5 {
    position: absolute;
    height: 500px;
    width: 270px;
    border: 1px solid yellowgreen;
    margin-top: 130vh;
    margin-left: 159vh;
   
    
    
}
.magsafe{
    margin-top: 68vh;
    text-align: center;
}

.categoria3{
    margin-top: 120vh;
    font-family: "Oswald", sans-serif;
    text-align: center;
}

.hoodiemujer img{
    width: 35%;
    

}

.hoodiemujer {
    margin-left: 20vh;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f4f4f4;
}

.carrito-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    flex: 1 1 300px; /* Cada producto se ajusta pero no será menor de 300px */
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.producto-info p {
    margin: 5px 0;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.buy-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Color verde para el botón de compra */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Espacio por encima del botón */
    display: block; /* Hace que el botón ocupe su línea */
    width: 200px; /* Ancho del botón */
    margin-left: auto;
    margin-right: auto;
}

.buy-button:hover {
    background-color: #45a049; /* Color ligeramente más oscuro al pasar el mouse */
}

/* Remueve los márgenes y el padding por defecto de todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Esto asegura que padding y border no aumenten el ancho total de los elementos */
}

/* Asegúrate de que la barra de navegación ocupe todo el ancho */
nav {
    width: 100%;
    display: block;
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    width: 100%;
    display: flex; /* Usamos flexbox para alinear los elementos de la lista */
    justify-content: center; /* Esto centra los elementos de la lista en el menú */
    align-items: center;
    height: 50px; /* Altura fija para la barra de navegación */
    background-color: #333;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
}

/* Cambio de color al pasar el mouse */
nav ul li a:hover {
    background-color: #111;
}




/* Estilos para botones de eliminar */
button[type="button"] {
    padding: 10px 15px;
    background-color: #ff4b5a; /* Rojo para el botón de eliminar */
    color: white;
    border: none;
    border-radius: 4px; /* Esquinas redondeadas */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s; /* Suaviza el cambio de color y transformación */
    outline: none; /* Elimina el contorno que aparece al hacer clic en algunos navegadores */
}

button[type="button"]:hover {
    background-color: #ff2e4a; /* Un rojo ligeramente más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Eleva ligeramente el botón */
}

button[type="button"]:active {
    transform: translateY(1px); /* Simula un efecto de clic presionando el botón hacia abajo */
}

.footer1 {
    background-color: #333;
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    width: 100%; 
    margin-top: 10vh;

}

.footer2 {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    width: 100%; 
    margin-top: 100vh;
}


footer p, footer a {
    display: inline; 
    margin: 0 5px; 
}

footer a {
    color: #4b8bed; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline; 
}

.login-formulario{
    text-align: center;
    margin-top: 40vh;
    word-spacing: 1px;
    list-style: none;

}
.email{
    word-spacing: 44px;
}


@media only screen and (max-width: 420px) {

    .navigation-bar {
        display: flex;
        justify-content: space-around;
        width: 130vh;
    }

    .categoria1{
        margin: 130px 0px;
        font-family: "Oswald", sans-serif;
        
    }


    .mujer4{
        display:none
    }

    .mujer5{
        display:none
    }

    .hoodie1{
        margin-top: 72vh;
        text-align: center;
    }
    
    .remera{
        margin-top: 72vh;
        text-align: center;
    }
    
    .pantalon{
        margin-top: 72vh;
        text-align: center;
    }

   

    .categoria2{
        margin-top: 140vh;
        font-family: "Oswald", sans-serif;
        
    }

  

    .hombre4{
        display:none
    }

    .hombre5{
        display:none
    }

    .remera2{
        margin-top: 72vh;
        text-align: center;
       
    }
    
    .hoodie2{
        margin-top: 72vh;
        text-align: center;
    }
    
    .hoodie3{
        margin-top: 72vh;
        text-align: center;
       
    }




    .categoria3{
        margin-top: 120vh;
        font-family: "Oswald", sans-serif;
        
    }

    .elec4{
        display:none
    }

    .elec5{
        display:none
    }

    .appletv{
        margin-top: 72vh;
        text-align: center;
       
    }
    
    .quadcast{
        margin-top: 72vh;
        text-align: center;
    }

    
    .beats{
        margin-top: 72vh;
        text-align: center;
    }

    .footer2{
        margin-top: 100vh;
        width: 130vh;

    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .login-formulario{
        text-align: center;
        margin-top: 40vh;
        word-spacing: 1px;
        list-style: none;

    }
    .email{
        word-spacing: 44px;
    }
}