body {
    font-family: "Roboto Mono", monospace;
}

.logo {
    width: 30vh;
    height: 10vh;
    display: block;
    margin: 0 auto;
}
/*Mujer*/

.mujer1 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 20vh;
    margin-left: 0vh;
  
    
}
.hoodie1{
    margin-top: 68vh;
    padding-top: 4dvh;
    text-align: center;
}

.mujer2 {
    position: absolute;
    height: 500px;
    width: 270px;
    padding-top: 5dvh;
    margin-top: 20vh;
    margin-left: 41.5vh;
    
    
}

.remera{
    margin-top: 68vh;
    padding-top: 10dvh;
    text-align: center;
}

.mujer3 {
  position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 20vh;
    margin-left: 83vh;
    
    
}

.pantalon{
    margin-top: 68vh;
    text-align: center;
}

.mujer4 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 20vh;
    margin-left: 121vh;
    padding-top: 5dvh;

}
.remera2{
    margin-top: 68vh;
    text-align: center;
    padding-top: 7dvh;
}

.mujer5 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 20vh;
    margin-left: 159vh;
    padding-top: 7dvh;
   
    
    
}
.buzo{
    margin-top: 68vh;
    text-align: center;
    padding-top: 3dvh;
}

.categoria1{
    margin: 160px 0px;
    font-family: "Oswald", sans-serif;
    text-align: center;
}








/*HOMBRE*/









.hombre1 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 140vh;
    margin-left: 0vh;

  
    
}
.remera2{
    margin-top: 68vh;
    text-align: center;
    padding-top: 4dvh;
   
}

.hombre2 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 140vh;
    margin-left: 41.5vh;
    padding-top: 12dvh;
    
}

.hoodie2{
    margin-top: 68vh;
    text-align: center;
    padding-top: 10dvh;
}

.hombre3 {
  position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 140vh;
    margin-left: 83vh;
    padding-top: 10dvh;
    
    
}

.hoodie3{
    margin-top: 68vh;
    text-align: center;
    padding-top: 9dvh;
   
}

.hombre4 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 140vh;
    margin-left: 121vh;
    padding-top: 4dvh;

}
.remera3{
    margin-top: 68vh;
    text-align: center;
    padding-top: 4dvh;
   
}

.hombre5 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 140vh;
    margin-left: 159vh; 
    padding-top: 20dvh;
}


.pantalon2{
    margin-top: 68vh;
    text-align: center;
    padding-top: 7dvh;
}

.categoria2{
    margin-top: 140vh;
    font-family: "Oswald", sans-serif;
    text-align: center;
}






/*ELECTRONICO*/







.elec1 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 130vh;
    margin-left: 0vh;
  
    
}
.appletv{
    margin-top: 68vh;
    text-align: center;
    padding-top: 10dvh;
   
}

.elec2 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 130vh;
    margin-left: 41.5vh;
    
    
}

.quadcast{
    margin-top: 68vh;
    text-align: center;
    padding-top: 10dvh;
}

.elec3 {
  position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 130vh;
    margin-left: 83vh;
    
    
}

.beats{
    margin-top: 68vh;
    text-align: center;
    padding-top: 10dvh;
}

.elec4 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 130vh;
    margin-left: 121vh;

}
.dualsense{
    margin-top: 68vh;
    text-align: center;
    padding-top: 10dvh;
}

.elec5 {
    position: absolute;
    height: 500px;
    width: 270px;
    margin-top: 130vh;
    margin-left: 159vh;
   
    
    
}
.magsafe{
    margin-top: 68vh;
    text-align: center;
    padding-top: 10dvh;
}

.categoria3{
    margin-top: 120vh;
    font-family: "Oswald", sans-serif;
    text-align: center;
}

.hoodiemujer img{
    width: 35%;
    

}

.hoodiemujer {
    margin-left: 20vh;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f4f4f4;
}

.carrito-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    flex: 1 1 300px; 
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.producto-info p {
    margin: 5px 0;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.buy-button {
    padding: 10px 20px;
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; 
    display: block; 
    width: 200px; 
    margin-left: auto;
    margin-right: auto;
}

.buy-button:hover {
    background-color: #45a049; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


nav {
    width: 100%;
    display: block;
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 50px; 
    background-color: #333;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; 
}


nav ul li a:hover {
    background-color: #111;
}


button[type="button"] {
    padding: 10px 15px;
    background-color: #ff4b5a; 
    color: white;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s; 
    outline: none; 
}

button[type="button"]:hover {
    background-color: #ff2e4a; 
    transform: translateY(-2px); 
}

button[type="button"]:active {
    transform: translateY(1px); 
}

.footer1 {
    background-color: #333;
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    width: 100%; 
    margin-top: 10vh;
    
}

.footer2 {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    width: 100%; 
    margin-top: 100vh;
}

footer p, footer a {
    display: inline; 
    margin: 0 5px; 
}

footer a {
    color: #4b8bed; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline; 
}

.login-formulario{
    text-align: center;
    margin-top: 40vh;
    word-spacing: 1px;
    list-style: none;

}
.email{
    word-spacing: 44px;
}

.registro-formulario{
    text-align: center;
    margin-top: 40vh;
    word-spacing: 1px;
    list-style: none;

}
.email2{
    word-spacing: 105px;
}
.contraseña{
    word-spacing: 60px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    display: block; 
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

}

.submit-button :visited{
    color: white;

}


.recover-formulario{
    text-align: center;
    margin-top: 40vh;
    word-spacing: 1px;
    list-style: none;

}
.email3{
    word-spacing: 1px;
}


.carrito-boton{
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    display: block; 
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

}







@media only screen and (max-width: 420px) {

    .navigation-bar {
        display: flex;
        justify-content: space-around;
        width: 130vh;
    }

    .categoria1{
        margin: 130px 0px;
        font-family: "Oswald", sans-serif;
        
    }


    .mujer4{
        display:none
    }

    .mujer5{
        display:none
    }

    .hoodie1{
        margin-top: 72vh;
        text-align: center;
    }
    
    .remera{
        margin-top: 72vh;
        text-align: center;
    }
    
    .pantalon{
        margin-top: 72vh;
        text-align: center;
    }

   

    .categoria2{
        margin-top: 140vh;
        font-family: "Oswald", sans-serif;
        
    }

  

    .hombre4{
        display:none
    }

    .hombre5{
        display:none
    }

    .remera2{
        margin-top: 72vh;
        text-align: center;
       
    }
    
    .hoodie2{
        margin-top: 72vh;
        text-align: center;
    }
    
    .hoodie3{
        margin-top: 72vh;
        text-align: center;
       
    }




    .categoria3{
        margin-top: 120vh;
        font-family: "Oswald", sans-serif;
        
    }

    .elec4{
        display:none
    }

    .elec5{
        display:none
    }

    .appletv{
        margin-top: 72vh;
        text-align: center;
       
    }
    
    .quadcast{
        margin-top: 72vh;
        text-align: center;
    }

    
    .beats{
        margin-top: 72vh;
        text-align: center;
    }

    .footer2{
        margin-top: 100vh;
        width: 130vh;

    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .login-formulario{
        text-align: center;
        margin-top: 40vh;
        word-spacing: 1px;
        list-style: none;

    }
    .email{
        word-spacing: 44px;
    }
}
.navigation-bar {
    margin-bottom: 0;
}

.product-container {
    margin-top: 0;
}

.product-article {
    margin-top: 0;
}

/* Estilos adicionales para ajustar las imágenes */
img {
    max-width: 100%;
    height: auto;
}

.navigation-bar {
    margin-bottom: 0;
}

.product-container {
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    max-width: 300px;
}

.product-article {
    margin-top: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.navigation-bar {
    margin-bottom: 20px; /* Ajusta el espacio entre el menú y las imágenes */
}

.mujer1,
.mujer2,
.mujer3,
.mujer4,
.mujer5,
.hombre1,
.hombre2,
.hombre3,
.hombre4,
.hombre5,
.elec1,
.elec2,
.elec3,
.elec4,
.elec5 {
    margin-bottom: 20px; /* Ajusta el espacio entre las imágenes y la descripción del producto */
}

.hoodie1,
.remera,
.pantalon,
.remera2,
.buzo,
.remera2,
.hoodie2,
.hoodie3,
.remera3,
.pantalon2,
.appletv,
.quadcast,
.beats,
.dualsense,
.magsafe {
    margin-top: 10px; /* Ajusta el espacio entre la descripción del producto y el botón */
}

img {
    max-width: 100%;
    height: auto;
}